/* ===================Globals========================= */
@font-face {
    font-family: "MyFont";
    src: url("./assets/fonts/MyFont.ttf") format("truetype");
}

@font-face {
    font-family: "UIFont";
    src: url("./assets/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: "logoFont";
    src: url("./assets/fonts/Chillax-Variable.woff2") format("woff2");
}

:root {
    --bg: hsl(0, 0%, 5%);
    --fg: hsl(0, 0%, 95%);
    /* --accent: rgb(132, 48, 0); */

    --accent: #3F6B37;
    --sent-bubble: #274722;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "UIFont";
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

::selection {
    background-color: blue;
    color: var(--fg);
}

/* ===================Main Chat========================= */
.mainChat {
    display: flex;
    height: 100vh;

    /* gap: 10px; */
}

/* ===================Sidebar========================= */

.mainSidebar {
    width: 450px;
    border-right: 1px solid #373737;


    display: flex;
    flex-direction: column;

    gap: 10px;
    /* padding: 10px; */
}

.logo {
    font-family: "MyFont";
    font-weight: 500;
    letter-spacing: -5%;
    margin: 15px 20px;
    cursor: pointer;
    font-size: 40px;
}

/* ===================Search Input========================= */
.searchBox {
    position: relative;
    display: flex;
    align-items: center;

    border: 1px solid gray;
    border-radius: 16px;

    color: gray;

    padding: 8px 16px;

    gap: 10px;
    margin: 0px 10px;
}

.searchBox:focus-within {
    border-color: var(--fg);
    color: var(--fg);
}

.searchInput {
    background-color: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    color: var(--fg);

    flex: 1;


}

/* ===================ChatList and Search Result========================= */

.searchResultContainer,
.chatListContainer {
    display: flex;
    flex-direction: column;
}

.chatListContainer {
    overflow-y: scroll;
}

.messageInput::-webkit-scrollbar,
.messageContainer::-webkit-scrollbar,
.chatListContainer::-webkit-scrollbar {
    width: 6px;
}

.messageInput::-webkit-scrollbar-thumb,
.messageContainer::-webkit-scrollbar-thumb,
.chatListContainer::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 20%);
    border-radius: 6px;
}

.resultDivider {
    /* background-color: gray; */
    border-color: #373737;
    width: 90%;

    margin: 10px
}

.userItem,
.chatItem {
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 16px;
    margin: 0px 10px;
}

.userItem:hover,
.chatItem:hover {
    background-color: hsl(0, 0%, 10%);
}

/* ===================ChatItem========================= */
.userItem,
.chatItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pfp {
    background-color: rgba(255, 255, 255, 0.099);
    width: 50px;
    height: 50px;
    border-radius: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nameAndLastMsg {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.lastMsg {
    color: gray;
    font-size: 14px;

    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.dateAndCount {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 14px;

    gap: 5px;
}

.lastUpdated {
    color: gray;
    font-weight: 500;
}

.newUpdated {
    color: var(--accent);
}

.unReadCount {
    background: var(--accent);
    width: 20px;
    height: 20px;

    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}

/* ===================ChatWindow========================= */

.mainChatWindow {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.chatHeader {
    background-color: hsl(0, 0%, 7%);
    width: 100%;

    font-size: 24px;
    display: flex;
    align-items: center;

    padding: 20px;
    gap: 10px;
}

.messageContainer {
    flex: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    align-items: flex-end;
    gap: 10px;

    padding: 10px 20px;
}


/* ===================Message Form Container========================= */

.messageFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.messageForm {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;


    border: 1px solid #373737;
    border-radius: 8px;

    background-color: hsl(0, 0%, 7%);
    padding: 20px 20px;
}

.messageInput {
    background-color: transparent;
    overflow: hidden;
    overflow-y: auto;
    border: none;

    font-size: 16px;
    outline: none;
    color: var(--fg);

    resize: none;
    max-height: 150px;

    padding: 15px 5px;
    margin-bottom: 10px;
}

.messageSendBtn {
    background-color: var(--accent);
    color: var(--fg);
    border: none;
    cursor: pointer;
    border: 1px solid var(--accent);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    align-self: center;

    border-radius: 8px;


    width: 40px;
    height: 40px;
}

.filePicker {
    color: rgba(255, 255, 255, 0.6);
    background-color: hsl(0, 0%, 15%);

    width: 40px;
    height: 40px;
    border-radius: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.filePicker:hover {
    background-color: hsl(0, 0%, 20%);
}

.messageActions {
    display: flex;
    align-items: center;

    justify-content: flex-end;
    width: 100%;
}

.messageSendBtn:hover {
    background-color: transparent;
    color: var(--accent);
}

/* ===================Message========================= */
.messageBubble {
    background-color: hsl(0, 0%, 15%);
    padding: 15px;

    display: inline-flex;

    justify-content: center;
    flex-direction: column;

    max-width: 50%;

    border-radius: 16px;
    font-size: 16px;

    gap: 10px;

    word-break: break-word
}

.sended {
    align-self: flex-end;
    background-color: var(--sent-bubble);
    border-bottom-right-radius: 0px;
}

.received {
    align-self: flex-start;
    border-bottom-left-radius: 0px;

}

.messageData {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    align-self: flex-end;

    gap: 5px;
}

.icon {
    /* margin-top: 2px; */
    color: rgb(0, 174, 255);
}